
.navbar-default {
	background-color: #380B61;
}

html body nav.navbar.navbar-default div.container-fluid div.navbar-header a.navbar-brand {
	color: #ffffff;
	font-weight: bold;
	font-family: Comic Sans MS;
}

html body div.container form div.form-group button.btn.btn-default {
	background-color: #380B61;
	color: #fff;
}